.admin-layout .main-panel{
  position: relative;
}
@media screen and (max-width: 762px) {
  .admin-layout.mobile .carousel-edit-modal{
    right: 0;
  }
  .admin-layout.mobile .container .row{
    /* margin-left: 0px;
    margin-right: 0px; */
  }
  .admin-layout.mobile .container .infinite-scroll-component>div{
    padding: 0px !important;
  }
}
