
p {color:rgb(95,96,93);
    font-weight: 10}
 h1 {
     color:rgb(95,96,93);
     text-align: center;   
 }
 h2 h3 h4 h5 h6 {
     color:rgb(95,96,93);
     }
.myfooter {
    /* position: fixed; */
  
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    /*line-height: 100px;
     background-image: -webkit-linear-gradient(top,rgb(26,156,142) 0%, rgb(26,156,142) 100%);
    background-image: -o-linear-gradient(top, rgb(26,156,142) 0%, rgb(26,156,142) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(26,156,142)), to(rgb(26,156,142)));
    background-image: linear-gradient(to bottom, rgb(26,156,142) 0%, rgb(26,156,142) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
    background-repeat: repeat-x;*/
    display: block;
    background-color: rgb(26, 156, 142);
    padding: 0 15px; 
    margin: 0;
    border: 0;   
}
.myfooter h3 {
    color: rgb(255,255,255);
    text-align: center;
    padding-top: 30px;
    direction: ltr;
     line-height: 40px;
     margin: 0; 
}
.myfooter img{
   width: 6.5vh;
   display: block;
   margin-top:0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
}
.imgPreview {
    text-align: center;
    margin: auto;
    width: 90px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
}
.icons {
    font-size: 1.5em;
    margin-left:4px;
}

.carousel img { 
    width: 100%;
    min-height: 570px; 
    margin-top:-50px;
    margin-bottom: 0
  }
.carousel div {
    height: 500px;
}
.hero {
    position: absolute;
    top: 30%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}
.hero h3 {
    font-size: 4rem;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.navbar-header{
    float: none; 
    width: 100%;
    padding: 0;
    margin: 0;
    
}

.navbar-toggle { 
    float: left !important;
    
    margin: 0;
     height: 50px; 
     width: 50px; 
     background:white; 
     border-radius: 0;
     z-index: 1;
     
    }
.navbar-toggle .icon-bar { width: 28px; background: #fff;transition: 1.0s ease;}
.navbar-toggle.collapsed .icon-bar:nth-child(2){transform: rotate(0)translateY(0)translateX(0);}
.navbar-toggle.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggle.collapsed .icon-bar:nth-child(4){transform:rotate(0)translateY(0)translateX(0);}
.navbar-toggle .icon-bar:nth-child(2){transform: rotate(-45deg)translateY(5px)translateX(-5px);}
.navbar-toggle .icon-bar:nth-child(3){opacity: 0}
.navbar-toggle .icon-bar:nth-child(4){transform:rotate(45deg)translateY(-4px)translateX(-3px);}
 
.navbar .nav {
    float: right;
    text-align: center;
   padding: 0;
  
}

.navbar-brand {
    width: 70px;
    height: auto;
    margin-top: -5px;
    margin-bottom: -10px;
    display: inline-block;
    float: none;
}

    .productdetails {
        margin:auto;
        padding: 0;
        background: white;  
        display: flex;
        flex-wrap: wrap;
    }
  
    
    .productdetails img{
        display: block;
       margin: auto;
        width: 100%;  
    }
    
    .productdetails button{
        display:"block";
        margin:"auto";
        width: 80%;
        max-width: 250px;
        background:  rgb(26, 156, 142);
        color: white;
        text-align: center;
        height: 40px;
    }
    
    
    .loginreg { 
        padding-top: 10%;
        padding-bottom: 5%;
        width: 100%;
        height: calc(100vh - (50px + 60px));
        background-image: url( '../img/garden.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: scroll;

        }
       
        .loginregtitle {
            text-align: center;
            background:white;
            padding-top: 10%;
            padding-bottom: 1%;
            margin-left: -25px;
            margin-right: -25px;
            margin-bottom: 20px;
        }
        .loginregtitle img {
            display: block;
            width: 25%;
            margin-top: -18%;
            margin-bottom:auto;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    .loginreg form {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        width: 90%;
        max-width: 600px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 25px;
        color: #3C3C3C;
        background: rgb(255,255,255);
        animation-name: slideDown;
        -webkit-animation-name: slideDown;	
        animation-duration: 1s;	
        -webkit-animation-duration: 1s;
        animation-timing-function: ease;	
        -webkit-animation-timing-function: ease;	
        visibility: visible !important;	
        
    }
 input{
 width:100%;
 max-width:500px;
 height:50px;
 border-radius: 0;
margin-bottom: 10px;
}
    
    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }
        50%{
            transform: translateY(8%);
        }
        65%{
            transform: translateY(-4%);
        }
        80%{
            transform: translateY(4%);
        }
        95%{
            transform: translateY(-2%);
        }			
        100% {
            transform: translateY(0%);
        }		
    }
    
    @-webkit-keyframes slideDown {
        0% {
            -webkit-transform: translateY(-100%);
        }
        50%{
            -webkit-transform: translateY(8%);
        }
        65%{
            -webkit-transform: translateY(-4%);
        }
        80%{
            -webkit-transform: translateY(4%);
        }
        95%{
            -webkit-transform: translateY(-2%);
        }			
        100% {
            -webkit-transform: translateY(0%);
        }	
    }
      .loginreg p {color:rgb(26, 156, 143);}

        button {
            background-color: rgb(26, 156, 142);
            width: 100%;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
            height: 50px;
         
        }
        button:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       
        /* search icon */
        .inner-addon { 
            position: relative; 
        }
        /* style icon */
        .inner-addon .glyphicon {
          position: absolute;
          padding: 10px;
          pointer-events: none;
        }
        
        /* align icon */
        .left-addon .glyphicon  { left:  0px;}
        .right-addon .glyphicon { right: 0px;}
        
        /* add padding  */
        .left-addon input  { padding-left:  30px; }
        .right-addon input { padding-right: 30px; }

    
        @media only screen and (max-width: 767px) {
           
            .navbar{
                position: absolute;
                height: auto;
               border-radius: 5px;
            }
              .navbar .nav{
                  float: right;
                  text-align: right;
                margin: 0;
                list-style: none;
                width: 70%;
              } 
              .nav-item{
               float: right;
                text-decoration: right;
            
               
                -webkit-transition:  background 0.3s ease-in-out;
                -moz-transition:  background 0.3s ease-in-out;
                -ms-transition:  background 0.3s ease-in-out;
                -o-transition:  background 0.3s ease-in-out;
                transition:  background 0.3s ease-in-out;   
              } 
              .carousel div {
                height: 280px;
                } 
              .carousel img { 
                  margin-top: -150px;
                  margin-left: -20px;
                  margin-right: -20px;
                  width: 150%;
                 min-height: 430px; 
              }
              .hero h3 {
                font-size: 3rem;    
                font-weight: bold;
                margin: 0;
                padding: 0;
              } 
            }




    