.footer{
    position: absolute;
    right: 0;
  
    left: 0;
    padding: 1rem;
}
.footer img{
   width: 6.5vh;
   display: block;
   margin-top: -20px;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
}
.footer h6 {text-align: center;font-size: 10px;color: white;}

.icons {
    font-size: 1.5em;
    margin-left:4px;
}

.carousel img { 
    width: 100%;
    min-height: 35em; 
  }
.carousel div {
    height: 50vh;
    }
.hero {
    position: absolute;
    top: 30%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}
.hero h3 {
    font-size: 4rem;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.navbrandimg{
    height: auto;
    width: 35px;
    margin-top: -10px;
    margin-bottom: -10px;
  
}
.navbar .nav {
    display: block;
    float: right;
    position: relative;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    color: blue; 
   
    
}
.link{
    color: blue; }

.navbar .nav > li {
    float: right;
    color: blue;
}

 
h1 {

    font-family: " Arial";
    line-height: 1.42857143;
    color: #333333;
    font-size: 3em;
    text-align: center;
    padding-top:15px ;
    padding-bottom: 15px;
    
}
h1 h2 h3 h4 h5 h6 {
    font-family: " Arial";
    color: #333333;
    padding-right: 5px;
    }

.thumbnail {
    
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10;
    margin-bottom: 20px;
    max-width: 100%;
    height: 10vh;
    overflow: hidden;
    margin: 30px auto;
    position: relative;
    background-color: #fff;
    border: 0px solid;
    border-radius: 0px;
     }
.thumbnail .caption {
    padding: 0px;
    color: #888; 
    }

    .productdetails {
        width: 100%;
        margin-top: 0; 
        margin-bottom: 0;
        padding: 0;
    
    }
    
    
    .productdetails div {
        overflow: auto;
    }
   .pdimagebackground {
       background-color: #f4f4f4;  
   }
    
    .productdetails img{
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        max-width: 80%;
        
        
    }
     
    .productdetails button{
        font-family: " Arial";
        margin-top:10px;
        width: 30%;
        min-width: 90px;
        background: rgb(73,157,157);
        border: white;
        border-radius: 5px;
        color: white;
        font-size: 2vmin; 
    }
    .productdetails h3  {
        font-family: " Arial";
        color: black;
        font-size: 4vmin; 
    }
    .productdetails p {
        font-family: " Arial";
        color: black;
        font-size: 2.5vmin; 
    }    
    
    .login {
        background-image: url ('../img/garden.jpg');
        background-repeat:no-repeat;
        background-size:contain;
        
        }
    .login form {
        width: 70%;
        max-width: 415px;
        margin: 20px auto;
       
        padding: 10px;
        margin-top: 20px;
        color: #3C3C3C;
    }
      
        .login button {
            background: rgb(73,157,157);
            width: 100%;
            color: white;
            margin-top: 10px;
            border-radius: 5px;
            height: 35px;
        }
    
    .padding {
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;}
    






    .image-wrap {
       
        max-height:260px;
        overflow: hidden;
        max-width: 100%;       
        -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
        -moz-transition: max-width .5s ease-out;  /* FF4+ */
        -ms-transition: max-width .5s ease-out;  /* IE10? */
        -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
        transition: max-width .5s ease-out; 
        width: 100%;
        display: inline-block;
        height: 100%;
        
      
       
    }
   .image-wrap img
   { position: absolute;
    clip:inherit;}

    .dotted-border {  
        position: relative; 
        width: 100%;
        height: 20em;
      }
      
      #top-left, #middle, #bottom-right {
        position: absolute;
        top: 0px;
        top:0; bottom: 0;/* vertical center */
        left:0;right:0; 
      }
      
      #top-left {
        left: 260px;
        clip: rect(0px,0px, 100px, 0px); 
      }
      
      
      #middle {  
        clip: rect(0px, 360px,20em, 0px); 
        /* standard syntax, unsupported by Internet Explorer 4-7 */
      }
      
      #bottom-right {
        left: 200px;
        clip: rect(235px 335px 345px 160px);
        /* non-standard syntax, but supported by all major browsers*/
      }
    