.banner-top .sc-kkGfuU{
  background-color: #efef55;
}
.banner-top h3 {
  font-weight: bold;
}
.banner-top button {
  color: black;
  font-weight: bold;
}

.banner-bottom .sc-kkGfuU{
  background-color: #1f9064;
}
.banner-bottom h3 {
  font-weight: bold;
  color: white;
}
.banner-bottom button {
  color: white;
  font-weight: bold;
  border-color: white;
}

.banner-right .sc-brqgnP{
  margin-top: 10%;
  height: 90%;
}
.banner-right .sc-kkGfuU{
  background-color: #1f9064;
}
.banner-right h3 {
  font-weight: bold;
  color: white;
}
.banner-right button {
  color: white;
  font-weight: bold;
  border-color: white;
  margin-top: 100%;
}