@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body {
  margin: 70px 0 0 0 ; 
  padding:0 ;
  background-color: #f4f4f4;
  padding-top: 50px;
  font-family: 'Droid Arabic Kufi', serif;
  direction: rtl;
  background: #F5F5F5
}
@media only screen and (max-width: 767px) {
  body {margin:0 0 0 0;}
}